<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Latest</title>
        <link rel="stylesheet" th:href="@{/css/code_style.css}"/>
        <link rel="stylesheet"
              href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <tr th:if="${codes.empty}">
            <td colspan="2"> No code snippets Available </td>
        </tr>
        <tr th:each="code : ${codes}">
            <div id="code_and_date">
            <td><span id="load_date" th:utext="${code.date}"></span></td>
            <td><pre id="code_snippet"><code th:utext="${code.code}"></code></pre></td>
            </div>
        </tr>
    </body>
</html>